*.pyc
coverage.json
**/__pycache__/
backend/coverage.json
**/*.egg-info/
Log.out
frontend/cc-ui/node_modules/
frontend/cc-ui/e2e/.auth/
frontend/cc-ui/e2e/test-results/
frontend/cc-ui/e2e/playwright-report/
